<settings>
    <mirrors>
        <mirror>
            <id>scijava.public</id>
            <url>https://maven.scijava.org/content/groups/public</url>
            <mirrorOf>external:*,central,!jitpack.io,!bintray.kotlin.eap</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>scijava.releases</id>
            <username>travis</username>
            <password>${env.MAVEN_PASS}</password>
        </server>
        <server>
            <id>scijava.snapshots</id>
            <username>travis</username>
            <password>${env.MAVEN_PASS}</password>
        </server>
        <server>
            <id>sonatype-nexus-releases</id>
            <username>scijava-ci</username>
            <password>${env.OSSRH_PASS}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>gpg</id>
            <activation>
                <file>
                    <exists>${env.HOME}/.gnupg</exists>
                </file>
            </activation>
            <properties>
                <gpg.keyname>${env.GPG_KEY_NAME}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
